.collapse{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
}

.collapse-visible {
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    height: 25px;
  }