.header {
    margin: 20px 3% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .header-nav {
    display: flex;
    gap: 50px;
  }
  @media (max-width: 768px) {
    .header-nav {
      gap: 20px;
    }
  }
  .header-nav a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    
  }
  @media (max-width: 768px) {
    .header-nav a {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
  @media (max-width: 768px) {
    .header img {
      width: 9rem;
    }
  }
  a.active {
  text-decoration: underline;
}